.copyright {
  display: flex;
  flex-direction: row;
}

.copyright__text {
  margin: 0;
  margin-right: 10px;
  color: #000000;
}

.copyright__logo {
  display: block;
  width: 29px;
  height: 35px;
  fill: #000000;
  cursor: pointer;
}

.copyright__logo:hover,
.copyright__logo:focus {
  fill: #81b3d2;
}

.copyright__logo:active {
  fill: #b2b2b2;
}
