.copyright {
  display: flex;
  flex-direction: row;
}

.copyright__text {
  margin: 0;
  margin-right: 10px;
  color: #000000;
}

.copyright__link {
  display: block;
  width: 30px;
  height: 36px;
  background: transparent url("../img/logo-htmlacademy.svg") no-repeat;
  background-size: contain;
}
