.form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form__item {
  outline: 2px solid yellow;
  display: flex;
  flex-direction: column;
  padding: 15px 0;
  border: none;
}

.form__item--score {
  padding-bottom: 5px;
}

.form__item--score .form__label {
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
  text-transform: none;
}

.form__item--showplace .form__wrapper {
  height: 56px;
  margin-bottom: 25px;

  &:last-child {
    margin-bottom: 5px;
  }
}

.form__title {
  @include font-title;
  display: flex;
  align-self: center;
  margin-bottom: 20px;
  color: #000000;
  font-weight: bold;
}

.form__wrapper {
  outline: 2px solid orange;
  position: relative;
  text-align: left;
  margin-bottom: 20px;
}

.form-wrapper:last-child {
  margin: 0;
}

.form__item--contact .form__wrapper {
  flex-direction: column;
  margin: 0;
}

.form__item--score .form__wrapper {
  height: 55px;
  padding-left: 75px;
}

.form__label {
  outline: 2px solid red;
  display: flex;
  align-self: left;
  margin-right: 15px;
  padding: 8px 0;
  cursor: pointer;
}

.form__item--contact {
  padding-bottom: 25px;
}

.form__item--contact .form__label {
  padding-left: 22px;
}

.form__input {
  outline: 2px solid green;
  position: relative;
  padding: 15px;
  border: none;
  background-color: #f2f2f2;
  font-size: 18px;
  line-height: 26px;
  font-weight: bold;
}

.form__input--textarea {
  width: 240px;
  height: 111px;
  padding: 25px 20px;
}

.form__item--contact .form__input::before {
  position: absolute;
  content: "";
  top: 0;
  right: 0;
  z-index: 2;
  width: 57px;
  height: 57px;
  background-color: #e6e6e6;
//  background: #e6e6e6 url("../img/icon-phone.svg") no-repeat center center;

}

.form__input--radio {
  display: none;
}

.form__input--radio {
  padding-left: 75px;
}

.form-indicator::after {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 55px;
  height: 55px;
  background-color: #f2f2f2;
  border-radius: 50%;
}

.form-indicator::before {
  content: "";
  position: absolute;
  top: 15px;
  left: 15px;
  z-index: 3;
  width: 22px;
  height: 22px;
  background-color: #000000;
  border-radius: 50%;
}

.form__input--checkbox {
  display: none;
}

.checkbox-indicator::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 56px;
  height: 56px;
  background: #e6e6e6 url("../img/icon-tick.svg") no-repeat center;
  border-radius: 10%;
}

.form__item--showplace .form__label {
  padding-left: 78px;
}

.form__button {
  margin-top: 40px;
  margin-bottom: 50px;
  padding: 15px 45px 15px 45px;
  border: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: $bg-blue;
  text-align: center;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form {
    padding: 0 60px;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
  }

  .form__item {

    &--score {
      width: 264px;
      flex-direction: column;
      order: 1;
    }

    &--name {
      width: 264px;
      order: 2;
    }

    &--contact {
      width: 648px;
      padding: 12px 0 50px 0;
      order: 3;
      flex-direction: column;
      justify-content: center;
    }

    &--showplace {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 648px;
      padding: 12px 150px 50px 150px;
      order: 4;
    }

    &--textarea {
      justify-content: center;
      width: 648px;
      margin-bottom: 20px;
      padding: 42px 60px 50px 60px;
      order: 5;
    }
  }

  .form__item--contact .form__title {
    margin-bottom: 20px;
  }

  .form__title {
    @include font-title-tablet;
    margin-bottom: 60px;
  }

  .form__button {
    padding: 15px 60px 15px 60px;
    order: 6;
    margin-top: 0;
  }
}

.form__wrapper {
  display: flex;
  flex-direction: row;
  margin-bottom: 25px;
}

.form__input--textarea {
  width: 608px;
  height: 117px;
  padding: 20px 20px;
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0 120px;
  }

  .form__item {
    flex-grow: 1;

    &--score {
      width: 360px;
      padding: 0 0 65px 0;
      flex-direction: column;
    }

    &--name {
      width: 360px;
      padding: 0 0 80px 0;
      flex-direction: column;
    }

    &--contact {
      width: 960px;
      padding: 75px 0 75px 0;
      flex-direction: row;
    }

    &--showplace {
      width: 960px;
      padding: 64px 0;
      flex-direction: row;
    }
  }

  .form__button {
    padding: 14px 147px;
  }

  .form__item--score,
  .form__item--name {
    padding-bottom: 0;
  }

  .form__item--contact {
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 35px;
  }

  .form__item--contact .form__wrapper {
    flex-direction: row;
  }

  .form__item--name .form__wrapper {
    padding-left: 80px;
  }
}
