<<<<<<< HEAD
.form {
  display: flex;
  flex-direction: column;
  padding: 0 20px;
}

.form__item {
  outline: 2px solid yellow;
  display: flex;
  flex-direction: column;
  padding: 22px 20px 22px 20px;
  border: none;
}

.form__title {
  display: flex;
  @include font-title;
  color: #000000;
  font-weight: bold;
  align: center;
=======
.form__item {
  outline: 2px solid yellow;
  padding: 22px 0;
}

.form__title {
  @include font-title;
  color: #000000;
  font-weight: bold;
>>>>>>> 0951f4e69c590e8f7361a7bc92cd193c99d87dd4
}

.input_wrapper {
  text-align: left;
}

.form__label {
  margin-right: 15px;
}
<<<<<<< HEAD

.form__button {
  margin-top: 50px;
  padding: 15px 45px 15px 45px;
  border: 0;
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: $bg-blue;
  text-align: center;
  cursor: pointer;
}

@media (min-width: $tablet-width) {
  .form {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .form__item {
    flex-grow: 1;

    &--score {
      width: 264px;
      padding: 0 60px 0 60px;
      flex-direction: column;
      order: 1;
    }

    &--name {
      width: 264px;
      padding: 42px 60px 70px 60px;
      order: 2;
    }

    &--contact {
      width: 648px;
      padding: 42px 60px 50px 60px;
      order: 3;
      flex-direction: column;
      justify-content: center;
    }

    &--showplace {
      flex-direction: column;
      flex-wrap: wrap;
      justify-content: center;
      width: 648px;
      padding: 42px 60px 50px 60px;
      order: 4;
    }

    &--textarea {
      justify-content: center;
      width: 648px;
      margin-bottom: 50px;
      padding: 42px 60px 50px 60px;
      order: 5;
    }
  }

  .form__button {
    padding: 15px 60px 15px 60px;
    order: 6;
  }
}

@media (min-width: $desktop-width) {
  .form {
    padding: 0 120px;
  }

  .form__item {
    flex-grow: 1;

    &--score {
      width: 360px;
      padding: 0 0 65px 0;
      flex-direction: column;
    }

    &--name {
      width: 360px;
      padding: 80px 0 80px 0;
      flex-direction: column;
    }

    &--contact {
      width: 960px;
      padding: 75px 0 75px 0;
      flex-direction: row;
    }

    &--showplace {
      width: 960px;
      padding: 64px 0;
      flex-direction: row;
    }
  }

  .form__button {
    padding: 14px 147px;
  }
}
=======
>>>>>>> 0951f4e69c590e8f7361a7bc92cd193c99d87dd4
