.item {
  outline: 2px solid red;
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 23px 0 0 0;
}

.item-wrap {
  display: flex;
  flex-direction: column;
  padding: 0;
  margin: 0 auto;
  box-sizing: border-box;
}

.item__picture-wrapper {
  outline: 2px solid orange;
  margin: 0;
  width: 100%;
  height: 280px;
}

.item__picture {
  width: 100%;
  height: 280px;
}

.item__name {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  color: #000000;
  font-weight: bold;
}

.item__author {
  display: flex;
  font-size: 14px;
  line-height: 24px;
  text-transform: capitalize;
}

.item__likes {
  position: relative;
  display: flex;
  font-weight: bold;
  padding-left: 37px;
  margin-top: 8px;
}

.item__likes::before {
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 22px;
  height: 22px;
  background: transparent url("../img/icon-like.svg") no-repeat center center;
}

@media (min-width: $tablet-width) {
  .item {
    width: 324px;
    padding-top: 0;

    &--big {
      width: 100%;
    }
  }

  .item__picture-wrapper {
    height: 268px;
  }

  .item--big .item__picture-wrapper {
    height: 400px;
  }

  .item-wrap {
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0 60px;
    width: 100%;
  }

  .item_picture {
    width: 324px;
    height: 268px;
  }

  .item--big .item__picture {
    width: 648px;
    height: 400px;
  }
}

@media (min-width: $desktop-width) {
  .item {
    width: 400px;

    &--big {
      width: 1200px;
    }
  }
  
  .item_picture {
    width: 400px;
    height: 267px;
  }

  .item-wrap {
    padding: 0;
  }
}
