.main-nav {
  display: flex;
  flex-direction: column;
<<<<<<< HEAD
  width: 320px;
  margin: 0 auto;
}
=======
  width: 100%;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .main-nav {
    flex-direction: row;
    justify-content: space-around;
  }
}

.main-nav__toggle {
  display: none;
}
>>>>>>> 0951f4e69c590e8f7361a7bc92cd193c99d87dd4
