.main-nav {
  display: flex;
  flex-direction: column;
  min-width: 320px;
  width: 100%;
  margin: 0 auto;
}

.main-nav__toggle {
  display: none;
}

@media (min-width: $tablet-width) {
  .main-nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 710px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .main-nav {
    width: 1060px;
    margin: 0 auto;
  }
}
