.page-header {
  background-color: $bg-white;
  outline: 2px solid green;
}

.page-header__logo {
  display: flex;
  width: 102px;
  height: 83px;
  align-self: center;
  outline: 2px solid yellow;
}
