.page-footer {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 10px 80px 35px 80px;
  background-color: #fefefe;
  text-align: center;
}

.page-footer__hash {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 65px 35px 65px;
  }
}

@media (min-width: $desktop-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
    padding: 25px 42px 35px 120px;
  }
}
