.page-footer {
  outline: 2px solid green;
  display: flex;
  flex-direction: column;
  align-items: center;
<<<<<<< HEAD
<<<<<<< HEAD
  padding: 40px 80px 35px 80px;
=======
  padding: 35px 0 35px 0;
>>>>>>> 0951f4e69c590e8f7361a7bc92cd193c99d87dd4
=======
  padding: 40px 80px 35px 80px;
>>>>>>> new-rebase
  background-color: #fefefe;
  text-align: center;
}

.page-footer__hash {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #000000;
}
<<<<<<< HEAD
<<<<<<< HEAD
=======
>>>>>>> new-rebase

@media (min-width: $tablet-width) {
  .page-footer {
    flex-direction: row;
    justify-content: space-between;
  }
}
<<<<<<< HEAD
=======
>>>>>>> 0951f4e69c590e8f7361a7bc92cd193c99d87dd4
=======
>>>>>>> new-rebase
