.preview {
  text-align: center;
  padding: 40px 30px 0 30px;
}

.preview__title {
  @include font-title;
  margin-bottom: 30px;
}

.preview__description {
  margin-top: 22px;
  margin-bottom: 10px;
}

@media (min-width: $tablet-width) {
  .preview {
    padding: 50px 135px 45px 135px;
  }

  .preview__title {
    @include font-title-tablet;
  }

  .preview__description {
    margin-top: 29px;
  }
}

@media (min-width: $desktop-width) {
  .preview {
    padding: 50px 350px 45px 350px;
  }
}
