.promo {
  outline: 2px solid red;
  background: $bg-white url("../img/bg-back-mobile.jpg") no-repeat 50% 0;
  height: 390px;

  &--form {
    height: 160px;
  }
}

@media (min-width: $tablet-width) {
  .promo {
    height: 520px;

    &--form {
      height: 162px;
    }
  }
}
