.promo {
  position: relative;
  outline: 2px solid red;
  height: 390px;
  background: $bg-white url("../img/bg-back-mobile@1x.jpg") no-repeat center 0;
}

.promo--small {
  position: relative;
  outline: 2px solid red;
  height: 158px;
  background: $bg-white url("../img/bg-back-mobile@1x.jpg") no-repeat center -95px;
}

.promo::before,
.promo--small::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  right: 0;
  width: 100%;
  height: 27px;
  background: transparent url("../img/bg-intro-triangle-mobile.svg") no-repeat center 0;
}

.promo__text {
  outline: 2px solid yellow;
  position: absolute;
  top: 90px;
  right: 0;
  left: 0;
  width: 280px;
  height: 225px;
  margin: 0 auto;
}

.promo__text--small {
  outline: 2px solid yellow;
  position: absolute;
  top: 45px;
  right: 0;
  left: 0;
  width: 240px;
  height: 55px;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .promo {
    height: 520px;
    background-size: cover;

    &--form {
      height: 162px;
    }
  }

  .promo--small {
    height: 290px;
    background-size: cover;
  }

  .promo__text {
    top: 75px;
    right: 0;
    left: 0;
    width: 470px;
    height: 356px;
    margin: 0 auto;
  }

  .promo__text--small {
    top: 75px;
    right: 0;
    left: 0;
    width: 466px;
    height: 107px;
    margin: 0 auto;
  }
}

@media (min-width: $desktop-width) {
  .promo--small {
    height: 305px;
  }
}
