.reasons-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  padding: 35px 0 10px 0;
}

.reasons-list__item {
  position: relative;
  outline: 2px solid green;
  padding: 0 40px 0 70px;
  text-align: left;

  &::after {
    outline: 1px solid orange;
    content: "";
    position: absolute;
    top: 0;
    left: 20px;
    z-index: 2;
    width: 37px;
    height: 37px;
  }

  &--house::after {
    background: transparent url("../img/icon-house.svg") no-repeat center;
    background-size: contain;
  }

  &--gift::after {
    background: transparent url("../img/icon-gift.svg") no-repeat center;
    background-size: contain;
  }

  &--food::after {
    background: transparent url("../img/icon-burger.svg") no-repeat center;
    background-size: contain;
  }
}


.reasons-list__title {
  @include font-title;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .reasons-list {
    flex-direction: row;
    padding: 0;
  }

  .reasons-list__item {
    width: 158px;
    padding: 160px 45px 40px 45px;
    flex-grow: 1;
    text-align: center;

    &::after {
      top: 60px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
      width: 82px;
      height: 76px;
    }

    &--gift {
      order: 3;
    }
  }

  .reasons-list__title {
    @include font-title-tablet;
  }
}

@media (min-width: $desktop-width) {
  .reasons-list__item {
    width: 260px;
    padding: 150px 70px 65px 70px;
  }

  .reasons-list__item::after {
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 82px;
    height: 76px;
  }
}
