.reasons-list {
  @include reset-list;
  display: flex;
  flex-direction: column;
  padding: 35px 0 25px 0;
  background-color: #ffffff;
}

.reasons-list__item {
  position: relative;
  padding: 5px 40px 0 70px;
  text-align: left;
}

.reasons-list__icon {
  content: "";
  position: absolute;
  top: -5px;
  left: 25px;
  z-index: 2;
  width: 37px;
  height: 37px;
  fill: #a1c6dd;
}

.reasons-list__description {
  margin-bottom: 5px;
}

.reasons-list__title {
  @include font-title;
  color: #000000;
}

@media (min-width: $tablet-width) {
  .reasons-list {
    flex-direction: row;
    padding: 0;
  }

  .reasons-list__item {
    width: 158px;
    padding: 160px 45px 40px 45px;
    flex-grow: 1;
    text-align: center;

    &::after {
      top: 60px;
      left: 0;
      right: 0;
      margin: auto;
      z-index: 2;
      width: 82px;
      height: 76px;
    }

    &--gift {
      order: 3;
    }
  }

  .reasons-list__title {
    @include font-title-tablet;
  }

  .reasons-list__icon {
    content: "";
    position: absolute;
    top: 60px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 81px;
    height: 72px;
    fill: #a1c6dd;
  }
}

@media (min-width: $desktop-width) {
  .reasons-list__item {
    width: 260px;
    padding: 150px 70px 65px 70px;
  }

  .reasons-list__item::after {
    top: 50px;
    left: 0;
    right: 0;
    margin: auto;
    z-index: 2;
    width: 82px;
    height: 76px;
  }
}
