.review__header {
  outline: 2px solid orange;
  padding: 35px 20px 15px 20px;
  text-align: center;
}

.review__title {
  @include font-title;
  margin-bottom: 25px;
}

.review__intro {
  margin: 0;
}

@media (min-width: $tablet-width) {
  .review__header {
    padding: 75px 160px 55px 160px;
  }

  .review__title {
    font-size: 30px;
    line-height: 30px;
  }
}

@media (min-width: $desktop-width) {
  .review__header {
    padding: 125px 375px 40px 375px;
  }
}
