.site-list {
  margin: 0;
  padding: 0;
  list-style: none;
  background-color: $bg-blue;
  display: flex;
  flex-direction: column;
  outline: 2px solid red;
}

.site-list__item {
  text-align: center;
  padding: 7px 0 7px 0;
}

.site-list__link {
  font-size: 18px;
  line-height: 40px;
  font-weight: bold;
  color: #ffffff;
}

@media (min-width: $tablet-width) {
  .site-list {
    flex-direction: row;

    &--right {
      order: 2;
    }
  }

  .site-list--right .site-list__item {
    padding-left: 90px;
  }

  .site-list--left .site-list__item {
    padding-right: 90px;
  }

  .site-list__link {
    margin: 0 auto;
    text-decoration: none;
    font-size: 14px;
    line-height: 26px;
    color: #000000;
    font-weight: bold;
  }
}
