
@media (min-width: $tablet-width) {
  .video {
    width: 648px;
    height: 500px;
  }

  .video__scroll {
    width: 398px;
    height: 91px;
  }
}

@media (min-width: $desktop-width) {
  .video {
    width: 800px;
  }
}
