.video-album {
  padding-bottom: 115px;
  text-align: center;
}

.video-album__header {
  padding: 35px 0 25px 0;
}

.video__player {
  position: relative;
  width: 280px;
  height: 110px;
  background-color: grey;
  margin: -50px auto;
  z-index: 3;
}

.video-album__title {
  @include font-title;
}

.video-album__video {
  background-size: cover;
  margin: 0 auto;
}

@media (min-width: $tablet-width) {
  .video-album__header {
    padding: 28px 170px 75px 170px;
  }

  .video-album__title {
    font-size: 30px;
    line-height: 30px;
    font-weight: bold;
  }

  .video-album__video {
    width: 648px;
    height: 500px;
  }

  .video__player {
    position: relative;
    width: 648px;
    height: 93px;
    margin: -90px auto;
  }
}

@media (min-width: $desktop-width) {
  .video-album {
    padding-bottom: 180px;
  }

  .video-album__header {
    padding: 35px 385px 60px 385px;
  }

  .video-album__video {
    width: 800px;
    height: 500px;
  }

  .video__player {
    position: relative;
    width: 800px;
    height: 93px;
    margin: -90px auto;
  }
}
