body {
<<<<<<< HEAD
  width: 320px;
=======
  min-width: 320px;
>>>>>>> new-rebase
  margin: 0 auto;
  padding: 0;
  font-size: 14px;
  line-height: 21px;
<<<<<<< HEAD
  font-family: "PT Sans", sans-serif;
=======
  font-family: 'PT Sans', sans-serif;
>>>>>>> new-rebase
  color: #333333;
  font-style: normal;
  text-transform: uppercase;
  background-color: $bg-white;
}

.wrapper {
  margin: 0 auto;
  width: 280px;
}

.button-page {
  font-size: 21px;
  line-height: 26px;
  font-weight: bold;
  color: #ffffff;
  background-color: #81b3d2;
  text-decoration: none;
}
<<<<<<< HEAD
=======

img {
  max-width: 100%;
  height: auto;
}
>>>>>>> new-rebase
