.site-list {
  margin: 0;
  padding: 0;
  background-color: $bg-blue;
  list-style: none;
  outline: 2px solid red;
}

<<<<<<< HEAD
.site-list__item {
  text-align: center;
  padding: 7px 0 7px 0;
=======
@media (min-width: $tablet-width) {
  .site-list {
    display: flex;
    flex-direction: row;
    background-color: $bg-white;
  }
}

.site-list__item {
  outline: 2px solid orange;
  padding: 7px 0 7px 0;
  text-align: center;
}

@media (min-width: $tablet-width) {
  .site-list__item {
    margin-right: 45px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
}

@media (min-width: $desktop-width) {
  .site-list__item {
    margin-right: 127px;
  }
  .site-list__item:last-child {
    margin-right: 0;
  }
>>>>>>> new-rebase
}

.site-list__link {
  margin: 0 auto;
  text-decoration: none;
  font-size: 18px;
  line-height: 40px;
  color: #ffffff;
  font-weight: bold;
}
<<<<<<< HEAD
=======

@media (min-width: $tablet-width) {
  .site-list__link {
    font-size: 14px;
    line-height: 26px;
    color: #000000;
  }
}
>>>>>>> new-rebase
